#animeDetails{
    border: 4px solid;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    /* vertical-align:; */
}
#anime-details{
    background-color: #E5E5E5;
}
.detailsPic-one{
    width: 100%;
    border:8px solid gray;
}
.content{
    display:grid;
    place-items:center;
    color:black;
    background-color: white;
    font-size: 14px;
}
.animeImage{
    display:flex;
    width: 15%;
    border: 8px solid gray;
}
h1{
    font-weight: lighter;
    color:white;
}
#returnBtn{
    background-color: #99AAB5;
}
#addBtn{
    background-color: #99AAB5;
}
.h1-details{
    color:black;
    font-weight: bold;
}
.h1-detailTitle{
    color: white;
    font-family: Stencil Std, fantasy;
}
.h2-details{
    font-weight: lighter;
    text-indent: 30px;
}
.h1h2{
    color:black;
}

